body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #333333;
  background-color: #fff;
}

.container-wide {
  width: 1300px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hero-overlay {
  position: relative;
  background: linear-gradient(174.48deg, #fd749b -12.41%, #281ac8 88.56%);
}

.button {
  display: inline-block;
  padding: 12px 56px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 100px;
  border: none;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 500ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #fd749b;
  outline: 2px solid #fd749b;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button__hero {
  position: absolute;
  display: inline-block;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
  border: 2px solid #fd749b;
  border-radius: 100px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.button__hero:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button__hero::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.button__hero:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button__white {
  background-color: #fff;
  color: #fd749b;
}
.button__white::after {
  background-color: #fff;
}

.button__animated {
  -webkit-animation: moveInBottom 5s ease-out;
          animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 220px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 68px;
}

.header-nav__link {
  padding: 36px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #fd749b;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.dropdown {
  position: relative;
  margin-right: 40px;
}
.dropdown:hover .dropdown__wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.dropdown__link {
  position: relative;
  padding-right: 5px;
  padding-top: 36px;
  padding-bottom: 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}
.dropdown__link::after {
  position: absolute;
  content: "";
  left: 100%;
  top: calc(50% + 6px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 4px solid transparent;
  border-top-color: #151515;
}

.dropdown__wrapper {
  position: absolute;
  padding: 6px 0 6px 12px;
  width: 152px;
  z-index: 777;
  top: 103%;
  left: 50%;
  -webkit-transform: translate(-50%, 15px);
          transform: translate(-50%, 15px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  background: transparent;
  outline: 1px solid #fd749b;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 12px;
}

.dropdown__list--link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown__list--link:hover, .dropdown__list--link:focus {
  color: #fff;
}

.sub {
  padding: 300px 0 90px 0;
  text-align: center;
}

.sub__title {
  position: relative;
  display: inline-block;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2.3;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.sub__title::after {
  position: absolute;
  bottom: 0;
  left: 150px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.sub__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.sub__input {
  padding: 16px 0 16px 25px;
  margin-right: 25px;
  min-width: 420px;
  color: #888888;
  border-radius: 100px;
  outline: 2px solid #888888;
  background: transparent;
  border: transparent;
}
.sub__input:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  outline: 2px solid #fd749b;
}

.footer-overlay {
  background-color: #151515;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 69px;
}

.footer-info {
  width: 369px;
}

.footer-info__desc {
  margin-top: 34px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #a2a2a2;
}

.footer-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.footer-info__item:not(:last-child) {
  margin-right: 18px;
}

.footer-info__link {
  fill: tomato;
}
.footer-info__link:hover, .footer-info__link:focus {
  color: #fd749b;
}

.footer-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title {
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
}

.footer-links {
  margin-left: 100px;
}

.footer-links__list {
  margin-top: 34px;
}

.footer-links__link {
  font-size: 18px;
  line-height: 2;
  color: #a2a2a2;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links__link:focus, .footer-links__link:hover {
  color: #fff;
}

.footer-links__adress {
  font-size: 16px;
  line-height: 2;
  color: #a2a2a2;
}

.footer-links__app {
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links__app:focus, .footer-links__app:hover {
  color: #fd749b;
}

.footer-social {
  margin-left: auto;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 34px;
  width: 310px;
  gap: 10px;
}

.instagram__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
}

.instagram__link {
  height: 70px;
  background-color: #c4c4c4;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.instagram__link:hover, .instagram__link:focus {
  background-color: #d8d8d8;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 208px;
}

.hero__wrapper {
  margin-top: 142px;
  width: 529px;
}

.hero__title {
  margin-bottom: 21px;
  font-size: 40px;
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.hero__desc {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

.hero-accent {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100vw;
  height: 240px;
  rotate: -1deg;
  background-image: url(../../images/overlayHero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.greet {
  position: relative;
  z-index: 111;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.greet__title {
  position: relative;
  display: inline-block;
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2.3;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.greet__title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.greet__desc {
  margin-bottom: 35px;
}

.transaction-overlay {
  position: relative;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}

.transaction-overlayTop {
  position: absolute;
  top: -35px;
  right: 0;
  rotate: 180deg;
  content: "";
  height: 250px;
  width: 100vw;
  background-image: url(../../images/overlayHero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.transaction-overlayBot {
  position: absolute;
  bottom: -20px;
  right: 0;
  content: "";
  height: 250px;
  width: 100vw;
  background-image: url(../../images/overlayAbout.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.transaction {
  padding-top: 250px;
  padding-bottom: 270px;
}

.article {
  width: 1150px;
  padding: 23px 47px 42px 64px;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 30px;
}

.titles-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #bbbbbb;
}

.titles-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 3.6;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 56px;
}

.crypto-list {
  margin-right: 12px;
}

.crypto-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crypto-list__item:not(:last-child) {
  margin-bottom: 80px;
}

.crypto-list__name {
  font-weight: 700;
  margin-left: 16px;
  font-size: 14px;
  line-height: 1.5;
}

.currency-list {
  margin-right: 145px;
}

.currency-list__item:not(:last-child) {
  margin-bottom: 53px;
}

.currency-list__value {
  font-size: 14px;
  line-height: 2;
}
.currency-list__value--accent {
  font-weight: 700;
}

.designation-list {
  margin-right: 60px;
}

.designation-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.designation-list__item:not(:last-child) {
  margin-bottom: 26px;
}

.designation-list__title {
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.5;
}

.value-list__item:not(:last-child) {
  margin-bottom: 26px;
}

.value-list__value {
  font-size: 14px;
  line-height: 2;
}
.value-list__value--accent {
  font-weight: 700;
}

.transfer-list {
  margin-left: auto;
}

.transfer-list__item:not(:last-child) {
  margin-bottom: 26px;
}

.transfer-list__transfer {
  font-size: 14px;
  line-height: 2;
}
.transfer-list__transfer--accent {
  font-weight: 700;
}

.article__icon {
  fill: #fd749b;
}

.intro {
  position: relative;
  z-index: 123;
  padding-top: 80px;
  padding-bottom: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info {
  width: 542px;
}

.intro__title {
  position: relative;
  display: inline-block;
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.intro__title::after {
  position: absolute;
  bottom: -18px;
  left: 0;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.intro__desc {
  margin-bottom: 35px;
}

.trade-overlay {
  position: relative;
  height: 488px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.trade-overlay:before {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  height: 250px;
  width: 100%;
  background-image: url(../../images/overlayAbout.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.trade {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trade__box {
  position: relative;
  z-index: 566;
  width: 980px;
  padding: 74px 197px 85px 196px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 30px;
}

.trade__title {
  position: relative;
  display: inline-block;
  margin-bottom: 77px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2.3;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.trade__title::after {
  position: absolute;
  bottom: 0;
  left: 110px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.trade__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trade__item {
  position: relative;
  width: 262px;
  padding-top: 41px;
  padding-bottom: 57px;
  background: #fff;
  background-clip: padding-box;
  border: solid 3px transparent;
  border-radius: 15px;
}
.trade__item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}
.trade__item:not(:last-child) {
  margin-right: 63px;
}

.icon {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.trade__icon {
  margin-bottom: 50px;
  fill: #d4af37;
}

.trade__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}

.blog {
  position: relative;
  z-index: 333;
  padding-top: 280px;
  padding-bottom: 50px;
  text-align: center;
}

.blog__title {
  position: relative;
  display: inline-block;
  margin-bottom: 67px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2.3;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.blog__title::after {
  position: absolute;
  bottom: 0;
  left: 35px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 85px;
}

.blog__article {
  padding: 47px 55px 28px 55px;
  width: 370px;
  text-align: left;
  border: 2px solid #888888;
  border-radius: 15px;
  color: #888888;
  background: #fff;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms ease-in;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in, color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms ease-in, color 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms ease-in;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.blog__article:hover, .blog__article:focus {
  border: 2px solid rgba(169, 31, 123, 0.7019607843);
  color: #333333;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.blog__article:hover .blog__article--button, .blog__article:focus .blog__article--button {
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}

.blog__article--box {
  width: 308px;
}

.blog__article--date {
  margin-bottom: 15px;
  font-size: 10px;
  line-height: 2;
}

.blog__article--title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.blog__article--desc {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 1.85;
}

.blog__article--button {
  display: inline-block;
  padding: 12px 26px;
  font-weight: 700;
  font-size: 11px;
  line-height: 1.5;
  color: #fff;
  background: #888888;
  border-radius: 100px;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.clients-overlay {
  position: relative;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}

.clients-overlayTop {
  position: absolute;
  top: -35px;
  right: 0;
  rotate: 180deg;
  content: "";
  height: 250px;
  width: 100vw;
  background-image: url(../../images/overlayHero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.clients {
  padding-top: 300px;
  padding-bottom: 230px;
  text-align: center;
}

.clients__title {
  position: relative;
  display: inline-block;
  margin-bottom: 67px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}
.clients__title::after {
  position: absolute;
  bottom: -15px;
  left: 125px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.clients__descbox {
  width: 542px;
  margin-left: auto;
  margin-right: auto;
}

.clients__desc {
  color: #fff;
}

.customers {
  position: relative;
  width: 1067px;
  height: 388px;
  margin-left: auto;
  margin-right: auto;
}

.customers__item:first-child {
  position: absolute;
  bottom: 75px;
  left: 0;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 88px;
  width: 137px;
  height: 137px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(3) {
  position: absolute;
  bottom: 98px;
  left: 240px;
  width: 45px;
  height: 45px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(4) {
  position: absolute;
  top: 98px;
  left: 274px;
  width: 68px;
  height: 68px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(5) {
  position: absolute;
  top: 177px;
  left: 347px;
  width: 58px;
  height: 58px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(6) {
  position: absolute;
  bottom: 86px;
  left: 442px;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(7) {
  position: absolute;
  top: 106px;
  left: 472px;
  width: 65px;
  height: 65px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(8) {
  position: absolute;
  bottom: 155px;
  left: 619px;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(9) {
  position: absolute;
  bottom: 137px;
  left: 745px;
  width: 45px;
  height: 45px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(10) {
  position: absolute;
  top: 80px;
  left: 767px;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(11) {
  position: absolute;
  bottom: 0;
  left: 779px;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(12) {
  position: absolute;
  bottom: 121px;
  left: 882px;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:nth-child(13) {
  position: absolute;
  top: 0;
  right: 0;
  width: 84px;
  height: 84px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-image: url(../../images/user-avatars/user13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-overlay {
  position: relative;
  height: 657px;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}

.app-overlayTop {
  position: absolute;
  top: -160px;
  left: 0;
  width: 100vw;
  height: 250px;
  background-image: url(../../images/overlayAppTop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.app-overlayBot {
  position: absolute;
  top: 50px;
  left: 0;
  rotate: 180deg;
  width: 100vw;
  height: 250px;
  background-image: url(../../images/overlayAppTop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  position: relative;
  text-align: center;
}

.app__title {
  position: relative;
  display: inline-block;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 28px;
  line-height: 2.3;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.app__title::after {
  position: absolute;
  bottom: 0;
  left: 92px;
  display: inline-block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #fd749b;
  border-radius: 5px;
}

.app__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.app__mobile {
  width: 568px;
  height: 559px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */