.app-overlay {
  position: relative;
  height: 657px;
  background: $accent-gradient;
}
.app-overlayTop {
  position: absolute;
  top: -160px;
  left: 0;
  width: 100vw;
  height: 250px;
  background-image: url(../../images/overlayAppTop.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.app-overlayBot {
  position: absolute;
  top: 50px;
  left: 0;
  rotate: 180deg;
  width: 100vw;
  height: 250px;
  background-image: url(../../images/overlayAppTop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  position: relative;
  text-align: center;
}

.app__stores {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.app__mobile {
  width: 568px;
  height: 559px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
