.clients-overlay {
  position: relative;
  background: $accent-gradient;
}

.clients-overlayTop {
  position: absolute;
  top: -35px;
  right: 0;
  rotate: 180deg;
  content: "";
  height: 250px;
  width: 100vw;
  background-image: url(../../images/overlayHero.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.clients {
  padding-top: 300px;
  padding-bottom: 230px;
  text-align: center;
}

.clients__title {
  position: relative;
  display: inline-block;
  margin-bottom: 67px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  color: $white;
  text-shadow: $title-text-shadow;

  &::after {
    position: absolute;
    bottom: -15px;
    left: 125px;
    display: inline-block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: $accent;
    border-radius: 5px;
  }
}

.clients__descbox {
  width: 542px;
  margin-left: auto;
  margin-right: auto;
}

.clients__desc {
  color: $white;
}

// Customers Wrapper

.customers {
  position: relative;
  width: 1067px;
  height: 388px;
  margin-left: auto;
  margin-right: auto;
}

.customers__item {
  position: absolute;
  width: 84px;
  height: 84px;
  background: $accent-gradient;
  border-radius: 50%;
  box-shadow: $secondary-box-shadow;
  background-repeat: no-repeat;
  background-size: cover;
}

.customers__item:first-child {
  bottom: 75px;
  left: 0;

  background-image: url(../../images/user-avatars/user1.jpg);
}
.customers__item:nth-child(2) {
  top: 80px;
  left: 88px;
  width: 137px;
  height: 137px;

  background-image: url(../../images/user-avatars/user2.jpg);
}
.customers__item:nth-child(3) {
  bottom: 98px;
  left: 240px;
  width: 45px;
  height: 45px;

  background-image: url(../../images/user-avatars/user3.jpg);
}
.customers__item:nth-child(4) {
  top: 98px;
  left: 274px;
  width: 68px;
  height: 68px;

  background-image: url(../../images/user-avatars/user4.jpg);
}
.customers__item:nth-child(5) {
  top: 177px;
  left: 347px;
  width: 58px;
  height: 58px;

  background-image: url(../../images/user-avatars/user5.jpg);
}
.customers__item:nth-child(6) {
  bottom: 86px;
  left: 442px;
  width: 84px;
  height: 84px;

  background-image: url(../../images/user-avatars/user6.jpg);
}
.customers__item:nth-child(7) {
  top: 106px;
  left: 472px;
  width: 65px;
  height: 65px;

  background-image: url(../../images/user-avatars/user7.jpg);
}
.customers__item:nth-child(8) {
  bottom: 155px;
  left: 619px;

  background-image: url(../../images/user-avatars/user8.jpg);
}
.customers__item:nth-child(9) {
  bottom: 137px;
  left: 745px;
  width: 45px;
  height: 45px;

  background-image: url(../../images/user-avatars/user9.jpg);
}
.customers__item:nth-child(10) {
  top: 80px;
  left: 767px;
  width: 84px;

  background-image: url(../../images/user-avatars/user10.jpg);
}
.customers__item:nth-child(11) {
  bottom: 0;
  left: 779px;

  background-image: url(../../images/user-avatars/user11.jpg);
}
.customers__item:nth-child(12) {
  bottom: 121px;
  left: 882px;

  background-image: url(../../images/user-avatars/user12.jpg);
}
.customers__item:nth-child(13) {
  top: 55px;
  left: 950px;

  background-image: url(../../images/user-avatars/user13.jpg);
}
