.intro {
  position: relative;
  z-index: 123;
  padding-top: 80px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;
}

.intro__info {
  width: 542px;
}

.intro__desc {
  margin-bottom: 35px;
}
