.trade-overlay {
  position: relative;
  height: 488px;
  background: $accent-gradient;

  &:before {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: "";
    height: 250px;
    width: 100%;
    background-image: url(../../images/overlayAbout.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.trade {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.trade__box {
  position: relative;
  z-index: 566;
  width: 980px;
  padding: 74px 197px 85px 196px;
  text-align: center;
  background: $white;
  box-shadow: $secondary-box-shadow;
  border-radius: 30px;
}

.trade__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade__item {
  position: relative;
  width: 262px;
  padding-top: 41px;
  padding-bottom: 57px;

  $border: 3px;
  background: $white;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 15px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: $accent-gradient;
  }

  &:not(:last-child) {
    margin-right: 63px;
  }
}
.icon {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.trade__icon {
  margin-bottom: 50px;
  fill: #d4af37;
}

.trade__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}
