.about {
  position: relative;
  z-index: 123;
  padding-top: 80px;
  padding-bottom: 116px;
  display: flex;
  justify-content: space-between;
}

.about__info {
  width: 542px;
}

.about__title {
  position: relative;
  display: inline-block;
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;

  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &::after {
    position: absolute;
    bottom: -18px;
    left: 0;
    display: inline-block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: $accent;
    border-radius: 5px;
  }
}

.about__desc {
  margin-bottom: 35px;
}
