.sub {
  padding: 300px 0 90px 0;
  text-align: center;
}

.sub__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.sub__input {
  padding: 16px 0 16px 25px;
  margin-right: 25px;
  min-width: 420px;
  color: $grey;
  border-radius: 100px;
  outline: 2px solid $grey;
  background: transparent;
  border: transparent;
  &:focus {
    box-shadow: $secondary-box-shadow;
    cursor: pointer;
    outline: 2px solid $accent;
  }
}

.sub-about {
  padding-top: 0;
}
