.footer-overlay {
  background-color: #151515;
}

.footer {
  display: flex;
  padding-top: 69px;
}

.footer-info {
  width: 369px;
}

.footer-info__desc {
  margin-top: 34px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $footer-text;
}

.footer-info__list {
  display: flex;
  margin-bottom: 70px;
}

.footer-info__item:not(:last-child) {
  margin-right: 18px;
}

.footer-info__link {
  fill: tomato;
  &:hover,
  &:focus {
    color: $accent;
  }
}

.footer-actions {
  display: flex;
}

.footer__title {
  font-size: 18px;
  line-height: 1.3;
  color: $white;
}

.footer-links {
  margin-left: 100px;
}

.footer-links__list {
  margin-top: 34px;
}

.footer-links__link {
  font-size: 18px;
  line-height: 2;
  color: $footer-text;
  transition: color 250ms $cubic;

  &:focus,
  &:hover {
    color: $white;
  }
}

.footer-links__adress {
  font-size: 16px;
  line-height: 2;
  color: $footer-text;
}

.footer-links__app {
  margin-top: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: $white;
  transition: color 250ms $cubic;
  &:focus,
  &:hover {
    color: $accent;
  }
}
// Footer Social
.footer-social {
  margin-left: auto;
}

.instagram {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  width: 310px;
  gap: 10px;
}

.instagram__item {
  flex-basis: calc((100% - 30px) / 4);
}

.instagram__link {
  height: 70px;
  background-color: #c4c4c4;
  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: #d8d8d8;
  }
}
